* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: #000000;
    height: 100vh;
}

.container h1{
    color: #dcef4ae9;
}

.timer {
    display: flex;
    font-size:55px;
    color: #333;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #d9dbf0;
    min-width: 90px;
}

.separator {
    padding: 0 10px;
    color: #525763;
}

#miliseconds{
    font-size: 30px;
    color: #525763;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #3325f6;
    transition: all 0.2s ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}

#startBtn{
    background-color: rgba(18, 157, 18, 0.9);
    color: #fff;
    border: none;
}

#pauseBtn{
    background-color: #ee4f4aea;
    border: none;
    color: #fff;
}

#resumeBtn{
    background-color:#2314f6;
    border: none;
    color: #fff;
}

#resetBtn{
    background-color: rgba(255, 132, 0, 0.875);
    border: none;
    color: white;
}

#pauseBtn,#resumeBtn{
    display: none;
}